body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#gameContainer {
    position: relative;
    width: 80%;
    height: 80%;
    background-color: #fff;
    border: 2px solid #000;
    display: grid;
    grid-template-columns: repeat(50, 1fr); /* Increase grid size */
    grid-template-rows: repeat(50, 1fr); /* Increase grid size */
    overflow: auto; /* Make container scrollable */
}
.block {
    border: 1px solid #000;
    background-color: #ccc;
}